# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

node_modules

# NuGet Packages
*.nupkg
**/packages/*
!**/packages/build/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

 Visual Studio Code
.vscode/
.vsidx/

